<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>

<body>
	<a href="/">main</a>

	<form action="/" method="post" class="form">
		<label for="name" class="label">Enter your name</label>
		<input type="text" class="input" id="name" name="name_field">
		<label for="password" class="label">Enter your password</label>
		<input type="text" class="input" id="password" name="pass_field">
		<button class="loginButton">Login</button>
	</form>




	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	 crossorigin="anonymous"></script>
	<script src="javascripts/todo.js"></script>
	<script src="javascripts/local.js"></script>
</body>

</html>