<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>

<body>
	<div class="title">Enter your tasks</div>
	<div class="todo_form">
		<button class="btn hide" id="add">Add</button>

		<input type="text" id="task_input">
	</div>

	<!-- <div class="task_output">
    <button class="btn">&#10004;</button>
    <button class="btn">&#10008;</button> -->
	<!--<button class="btn">Change</button>-->
	<!--<input type="text" class="task_out">-->
	<!--</div>-->
	<div class="container">

	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	 crossorigin="anonymous"></script>
	<script src="javascripts/todo.js"></script>
	<script src="javascripts/local.js"></script>
</body>

</html>