<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>

<body>
	<form action="/" method="post">
		<label for="name">Enter your name</label>
		<input type="text" id>
	</form>



	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	 crossorigin="anonymous"></script>
	<script src="javascripts/todo.js"></script>
	<script src="javascripts/local.js"></script>
</body>

</html>