
.form{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 60%;
	margin-top: 100px;
	
}
.input{
	margin: 20px 100px;
	padding: 5px 0;
	border: none;
	border-bottom: 1px solid #000;
	outline:0;
	text-align: center;
}
.Button{
	width: 20%;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #000;
	font-family: 'Press Start 2P', cursive;
	
}
