*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}
.todo_form{
    margin: 0 auto;
    justify-content: center;
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background: rgba(255, 0, 12, 1);
    align-items: flex-start;
}
.title{
    width: 60%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    background: rgba(12, 12, 12, 1);

}
#task_input{
    display: flex;
    box-shadow: none;
    width: 70%;
    background: rgba(12, 12, 12, .8);
    margin: 5px;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;

}
.btn{
    display: inline-block;
    align-items: flex-start;
    flex-direction: row;
    width: 30px;
    background: rgba(12, 12, 12, .8);
    margin: 12px 5px 0 0 ;
    color: #fff;
    border: none;
    cursor: pointer;

}
.hide{
    display: none;
}
.task_container{
    display: flex;
    margin: 0 auto;
    padding: 5px 0;
    width: 60%;
    background: rgba(12, 12, 12, 1);
    color: #fff;
    text-align: center;
}

.task_text{
    display: flex;
    box-shadow: none;
    width: 70%;
    background: rgba(12, 12, 12, .8);
    margin-left: 20px;
    padding: 6px;
    border: none;

    color: #fff;
}
.submitBtn{
	width: 50px;
}
.line-through{
	text-decoration: line-through;
}