*{
    margin: 0;
    padding: 0;
}
body{
   
}
.todo_form{
    margin: 0 auto;
    justify-content: center;
    width: 60%;
	height: 100px;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 1);
    align-items: flex-start;
}
.title{
    width: 60%;
    margin: 0 auto;
    color: #000;
    text-align: center;
	font-size: 1.2em;
	margin-top: 50px;
    

}
.lineThrough{
	text-decoration: line-through;
}
.noneDecoration{
	
}
#task_input{
    display: flex;
    box-shadow: none;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    margin: 5px;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #000;
	color: #000;
	outline:0;

}
.btn{
    display: inline-block;
    align-items: flex-start;
    flex-direction: row;
    width: 50px;
    background: #fff;
    margin: 12px 5px 0 0 ;
    color: #000;
    border: 0;
	cursor: pointer;
	outline:0;

}
.hide{
    display: none;
}
.task_container{
    display: flex;
    margin: 0 auto;
    padding: 5px 0;
    width: 60%;
    background: rgba(255, 255, 255, 1);
    color: #000;
    text-align: center;
}

.task_text{
    display: flex;
    box-shadow: none;
    width: 70%;
	border-left: 1px solid #000;
    margin-left: 20px;
    padding: 6px;
    outline:0;

    color: #000;
}
.submitBtn{
	width: 50px;
}
.line-through{
	text-decoration: line-through;
}
a{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	margin: 0 auto;
	padding: 20px;


}